body{
  font-family: 'Raleway', sans-serif;
}

.centro{
  text-align: center;
}

.justificado{
  text-align: justify;
}
/*Márgenes*/
.mR{
  margin-right: -4%;
}
.mr-5{
  margin-right: 5%;
}

.mr-1{
  margin-right: 3%;
}

.ml-43{
  margin-left: 43%;
}
.ml-8{
  margin-left:8%;
}

.ml-3{
  margin-left:3%;
}

.ml-1{
  margin-left: 1%;
}

.mt-10{
  margin-top: 10%;
}

.mt-50{
  margin-top: 50%;
}

.mt-7{
  margin-top: 7%;
}

.mt-5{
  margin-top: 5%;
}

.mb-30{
  margin-bottom: 30%;
}

.mb-5{
  margin-bottom: 5%;
}

.mtb-1{
  margin-top: 1%;
  margin-bottom: 1%;
}

.mtb-2{
  margin-top: 2%;
  margin-bottom: 2%;
}

.mtb-3{
  margin-top: 3%;
  margin-bottom: 3%;
}

.p-BT{
  padding-top: 40%;
  padding-bottom: 50%;
}

.ptb-20{
  padding-top: 20%;
  padding-bottom: 20%;
}

.pad{
  padding: 3%;
}
/*Fuentes*/
nav > ul > li > a{
  color: black;
}

.fteBca{
  color: white;
}

/*Colores*/
.fondoAmarillo{
  background-color: #FCB425;
}

.fondoNegro{
  background-color: rgba(0, 0, 0, 0.6);
}

.fondoGris{
  background-color: #616161;
}

.fondoVerde{
  background-color: #26A69A;
}

.fondoBco{
  background-color: white;
}
/*Portada*/
#portada{
  background-image: url("../img/taxi.jpg");
  background-size: cover;
}

.ocultar{
  display: none;
}
.user{
  font-size: 40px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}
/*Aplicación*/
#tel{

}
.borde{
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 0px;
  border-style: solid;
  border-color: white;
}
/*COnductor*/
#conductor{
  background-image: url("../img/conduce.jpg");
  background-size: cover;
}
/*Tarifas*/
.txTarifa{
  font-size: 17px;
}

.fo{
  color:white;
  background-color: transparent;
  border: 1px solid white;
}
.marco{
  padding: 2%;
  border: 1px solid white;
  border-radius: 2%;
}
/*Footer*/
.redes{
  cursor: pointer;
  font-size: 20px;
  padding: 2%;
}
